{% extends 'view_base.html' %}
{% load static %}
{% block content %}

<div class="login-page">
    <div class="login-container">

        <div class="row login-content valign-wrapper">
            <div class="col s12  m12 offset-l5 l5 offset-xl5 xl4">
                <div class="inner-form reset-password forgot-password-block clearfix" id="forgot_password_form">
                    <a href="{% url 'admin_login' %}" title="Welcome to RETI" class="brand-logo"><img
                            src="{% static 'img/reti-logo.png' %}" class="reti-logo" alt="Reti-Logo"
                            title="Welcome to RETI"></a>
                    <h1>Forgot Password</h1>
                    <div class="sub-title">Enter your registered email address and we'll help you get it reset.</div>
                    <form method="post" action="{% url 'admin_forgot_password' %}" >
                        {% csrf_token %}
                        {% if form.username.errors %}
                        <div class="input-field error col s12">
                            {% else %}
                            <div class="input-field col s12">
                                {% endif%}
                                {{form.username}}

                                <label {% if form.username %} class="active" {% endif%}>Enter Email or Phone
                                    Number</label>
                                <input type="hidden" id="validated" value="{{validated}}"/>

                                <span class="error-text">{{form.username.errors.as_text}}</span>

                            </div>
                            <div class="input-field forgot-password-btn col s12">
                                <div class="back-sign-in"><a href="{% url 'admin_login' %}"><i class="icon-back"></i> Back to Sign in</a></div>
                                <button type="submit" id="forgot_password_submit" class=" submit-btn">Send</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="enter-forgot-otp" class="modal email-sent-block bottom-sheet">
    <div class="email-modal">
        <div class="email-header clearfix">
            <a href="{% url 'admin_login' %}" title="Welcome to RETI" class="brand-logo"><img src="{% static 'img/reti-logo.png' %}" class="reti-logo" alt="Reti-Logo" title="Welcome to RETI"></a>
            <div class="back-sign-in">
                <!--<a href="{% url 'admin_login' %}">Skip for Now</a>-->
            </div>
        </div>
        <div class="mail-sent-icon-box create-otp">
            <div class="circle-block otp-circle"><span class="mobile-icon"></span></div>
            <h2>Enter 4 Digit Code</h2>
            {% if is_phone %}
            <p>Code has been sent to your registered Mobile number and will expires within 30 minutes.</p>
            {% else %}
           <p>Code has been sent to your registered Email-Id and will expires within 30 minutes.</p>

            {% endif%}
            <!--<p>Please enter the 4 digit code you receive on the your {% if is_phone %}phone number{% else %}email id{% endif%}.</p>-->
            <ul class="digit-block clearfix" id="codes">
                <li><input type="text" maxlength="1"></li>
                <li><input type="text" maxlength="1"></li>
                <li><input type="text" maxlength="1"></li>
                <li><input type="text" maxlength="1"></li>

            </ul>


            <a href="#" id="resend-forgot-btn" class="resend-btn"><span class="icon-resend-icon"></span> Resend Code</a>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $( "input:text" ).focus(function() {
      $(this).next().next().next().remove();
      $(this).parent().removeClass('error');
    });

    $("#resend-forgot-btn").on('click',function(e){
       $(this).find('span').addClass('animate-icon');
    });

    $("#codes input").on('keyup',function(e){
        curr = $(this);
        if(e.keyCode >= 48 && e.keyCode <= 57 || e.keyCode >= 96 && e.keyCode <= 105) {
            if(curr.parent().next('li').length){
                    curr.parent().next('li').find('input').focus();
            } else {
                //ajax code
                mobile_code = '';
                $("#codes input").each(function(){
                    mobile_code+=$(this).val();
                });
                ajax_url = '{% url 'check_admin_mobile_code' %}';
                $.ajax({

                    url : ajax_url,
                    type : 'GET',
                    data : {
                        'mobile_code' : mobile_code
                    },
                    success : function(data) {
                        if(data == 'false') {
                            $("#codes li").each(function(){
                                $(this).addClass("digit-error");
                            });

                        } else {
                            window.location.href = '/administrator/admin_new_password/'+mobile_code;
                        }
                    },
                    error : function(request,error)
                    {
                        alert("Request: "+JSON.stringify(request));
                    }
                });
            }
        } else {
            curr.val('');
            return false;

        }
        $("#codes input").each(function(){
            //if($(this))
        });
    })


    <!--$("#resend-forgot-btn").on('click',function(){-->
       <!--$("#forgot_password_submit").trigger("click");-->
    <!--})-->

    $('#resend-forgot-btn').on('click',function () {
            var email = $("input[name='username']").val();
            ajax_url = '{% url 'admin_resend_forgot_code' %}';

            var current = $(this);
            $.ajax({
                url: ajax_url,
                type : 'GET',
                async: true,
                data : {
                        'email' : email
                },
                beforeSend: function() {
                   current.find('span').addClass('animate-icon');
                   current.addClass('disable_a_href');
                },
                success: function (msg) {
                   current.find('span').removeClass('animate-icon');
                   current.removeClass('disable_a_href');
                }
            });
   });

});
</script>
{% endblock %}
