{% extends 'view_base.html' %}
{% block content %}
{% load static %}

<body class="reti-login">
	<div class="login-page">
		<div class="login-container">

			<div class="row login-content valign-wrapper">
				<div class="col s12  m12 offset-l5 l5 offset-xl5 xl4">
					<table class="w3-table-all notranslate">
<tbody><tr>
<th>Type</th>
<th>Description</th>
</tr>
<tr>
<td>type="1"</td>
<td>The list items will be numbered with numbers (default)</td>
</tr>
<tr>
<td>type="A"</td>
<td>The list items will be numbered with uppercase letters</td>
</tr>
<tr>
<td>type="a"</td>
<td>The list items will be numbered with lowercase letters</td>
</tr>
<tr>
<td>type="I"</td>
<td>The list items will be numbered with uppercase roman numbers</td>
</tr>
<tr>
<td>type="i"</td>
<td>The list items will be numbered with lowercase roman numbers</td>
</tr>
</tbody></table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}