{% extends 'view_base.html' %}
{% block content %}
{% load static %}

<div class="login-page">
    <div class="login-container">

        <div class="row login-content valign-wrapper">
            <div class="col s12  m12 offset-l5 l5 offset-xl5 xl4">
                <div class="inner-form  clearfix" id="login_form">
                    <a href="#" title="Welcome to RETI Seller Suite" class="brand-logo adminitrator-login"><img
                            src="{% static 'img/reti-logo.png' %}" class="reti-logo" alt="Reti-Logo"
                            title="Welcome to RETI"></a>
                    <h1>Sign In</h1>
                    <form method="post" id="SignInForm">
                        {% csrf_token %}

                        <input type='text' style='display: none'>
                        <input type='password' style='display: none'>
                        {% if form.username.errors %}
                        <div class="input-field error col s12">
                            {% else %}
                            <div class="input-field col s12">
                                {% endif%}
                                {{form.username}}
                                <label {% if form.username %} class="active" {% endif%}>Enter Email or Phone
                                    Number</label>
                                <span class="error-text">{{form.username.errors.as_text}}</span>
                            </div>
                            {% if form.password.errors and not form.username.errors %}
                            <div class="input-field error col s12">
                                {% else %}
                                <div class="input-field col s12">
                                    {% endif%}
                                    {{form.password}}
                                    <label {% if form.password %} class="active" {% endif%}>Password</label>
                                    {% if not form.username.errors %}
                                    <span class="error-text">{{form.password.errors.as_text}}</span>
                                    {% endif %}
                                </div>
                                <!--<div class="col s12 remember-me clearfix">-->
                                    <!--<div class="check-remember">-->
                                         <!--{{form.remember_me}}-->
                                        <!--<label for="filled-in-box">Remember Me</label>-->
                                    <!--</div>-->
                                   <!--<a href="{% url 'admin_forgot_password' %}" class="forget-password">Forgot Password?</a>-->
                                <!--</div>-->
                                <div class="input-field col s12">
                                    <button class=" submit-btn" id="login_submit">Sign In</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center-align login-toast-show" id="popup-div">
    <div class="toast-content"><span class="icon-plus-copy-2 close-toast" id="close_success"></span>Your password has been updated.</div>
</div>

<script>
  $(document).ready(function() {

  document.getElementById("filled-in-box").checked = false;

  var validated = getUrlParameter('password_changed');
  console.log(validated);
  if(validated == 1) {
    $('.login-toast-show').addClass('in');
    setTimeout(function() {
      $('.login-toast-show').fadeOut('fast');

    }, 5000);
    for(i=0;i<100;i++) {
    window.location.hash = '#done = '+Math.random().toString(36).substring(7);;
    }

  }
   $( "input:text,input:password" ).focus(function() {
      $(this).next().next().remove();
      $(this).parent().removeClass('error');
   });

   $( "input:text,input:password" ).keypress(function(e) {
     if(e.which === 32)
        return false;
   });
  });
</script>
{% endblock %}